# Configuration file

ids {
    I:"1 Up"=105
    I:Blink=106
    I:"Elemental Affinity"=107
    I:"Fall Resistance"=108
    I:Leapfrog=109
    I:"Never Hungry"=110
    I:Paraglide=111
    I:Reaper=112
    I:Restoration=113
    I:"Sonic the Hedgehog"=114
    I:Spiderman=115
    I:"Step Up"=116
    I:Superman=117
    I:"The One Ring"=118
}


jewelry {
    B:"Enable Singleplayer Jewelry Offline Mode"=false
    B:"Jewelry Drops on Death"=false
}


tweaks {
    B:"Enable Books being applied to Jewelry"=false
    D:"Leapfrog > Jump Factor"=0.15
    I:"Leapfrog > Jumps per Damage"=10
    I:"Restoration - Ticks between Repair"=100
    D:"Sonic the Hedgehog > Speed Factor"=0.025
    I:"Sonic the Hedgehog > Ticks per Damage"=1200
}


